<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- 
            测试商户编号，请在正式上线时使用您自己的商户编号
       -->
    <add key="merhantId" value="10001126856"/>

    <!--  
            测试商户密钥,请在正式上线时使用您自己的商户密钥
      -->
    <add key="keyValue" value="69cl522AV6q613Ii4W6u8K6XuW8vM1N6bFgyv769220IuYe9u37N4y7rI4Pl"/>

    <!-- 
            交易请求地址，默认使用测试地址,请在正式上线时使用生产地址
     
    <add key="authorizationURL" value="http://tech.yeepay.com:8080/robot/debug.action"/> -->

   <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>
    <!-- 
            查询和退款地址，默认使用测试地址,请在正式上线时使用生产地址
     
    <add key="queryRefundReqURL" value="http://tech.yeepay.com:8080/robot/debug.action"/> -->
    
     <add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command"/>
    
    
  </appSettings>

  <connectionStrings/>

  <system.web>

    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-cn" uiCulture="zh-CHS"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.codedom>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
  </system.webServer>
</configuration>
