body, div, span, p, b, textarea, input, select, form, table,tr,td{
margin:0;
padding:0;
list-style-type:none;
font-size:12px;
z-index:auto;
}
td {
	line-height: 18px;
	cursor: default;
}

body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	PADDING-BOTTOM: 0px;
	Helvetica,sans-serif; 
	BACKGROUND: url(user_all_bg.gif) #226cc5 repeat-x top;
	TEXT-DECORATION: none;
; 	color: #FFFFFF;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}